@charset "UTF_8";
/*** 引用文件 **/
@import url(main.css);
@import url(foot.css);
.fnt_lg_18 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 25px;
	color: #666666;
	font-weight: bold;
	display:block;
}

.lg_lt_li{
	display:block;
	padding:5px 0;
}
.fnt_lg_14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 25px;
	color: #666666;
	font-weight: bold;
}
.fnt_lg_12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	color: #333333;
}

.login_head{
	height:41px;
	background: url(../images/login-top-bg.gif) center repeat-x;
}

#login_middle {height:90%;max-height:800px;}
.login_middle_border{
	background: url(../images/login_bg.jpg) center repeat-x;
	
	/****css 3  Border-image**/
	-webkit-border-image: url(../images/login_bg.jpg) 15 25% 15 25% fill round stretch;
    -moz-border-image: url(../images/login_bg.jpg) 15 25% 15 25% fill round stretch;
    -o-border-image: url(../images/login_bg.jpg) 15 25% 15 25% fill round stretch;
    border-image: url(../images/login_bg.jpg) 15 25% 15 25% fill round stretch;
}
.lg_mid_lt{width:49%;float:left;}
.lg_mid_lt_lt{float:left;width:96%;}
.lg_mid_lt_001{height:120px;width:100%;}
.lg_mid_lt_002{height:70px;text-align:right;}
.lg_mid_lt_003{height: 80px;padding-right: 130px;text-align: left;}
.lg_mid_lt_003 ul{float: right;}

.lg_mid_lt_004{height:35px;padding-right: 190px;}
.lg_mid_lt_004 ul{width:285px;float:right;}
.lg_mid_lt_004 .li_lt {float:left;}
.lg_mid_lt_004 .li_rt {float:right;}
.lg_mid_lt_005{height:80px;}
.lg_mid_lt_rt{
	float:right;width:5px;min-height:530px;height:700px;margin-top:10px;
	border-right:rgba(202,215,215,0.4) solid 3px ;
}
.lg_mid_mid{width:1%;float:left;}
.lg_mid_rt{width:50%;float:left;}
.lg_mid_rt_top{height:150px;width:100%;}
.lg_mid_rt_mid{height:185px;}
.lg_mid_rt_mid ul {width:	300px;margin-left:130px;line-height:35px;}
.lg_mid_rt_mid .span_01{width:100px;display:inline-block;}
.lg_mid_rt_mid .span_submit{float:left;margin:5px 1px 1px 55px;}
.lg_mid_rt_mid .span_cancel{float:right;margin:5px 40px 1px 1px;}

.lg_mid_rt_bot{text-align:right;}

.login_bottom{height:60px;text-align:center;margin:10px 0 0 0;}

.lg_mid_lt li ,.lg_mid_rt_mid li{display:list-item;}